.status-in-ontwikkeling {
    background-color: #FF5252;
    
}

.status-lopend {
    background-color: #FFC107;
}

.status-gerealiseerd {
    background-color: #4CAF50;
}

.status-label {
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    color: white;
}
.project-flex{
    display: flex;
}
