.project-image {
    max-width: 200px;
}

.status-in-ontwikkeling {
    background-color: #FF5252;
    
}

.status-lopend {
    background-color: #FFC107;
}

.status-gerealiseerd {
    background-color: #4CAF50;
}

.status-label {
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 4px;
    color: white;
}
.project-flex{
    display: flex;
}
.flex-items{
    display: flex;
    flex-direction: column;
}
.name-status{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

/* events */
.event-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.address-flex{
    display: flex;
}